#Ignore all model outputs (a bunch of images and big files)
Lapro_Im2Im_Nerfed/trained_models/

# Ignore all pycaches: https://stackoverflow.com/questions/56309100/how-to-ignore-the-same-name-directory-pycache-in-a-project
**/__pycache__/
__pycache__/

#Ignore all vim swp files. I'm going to keep .un files though
**/*.swp
*.swp

#Ignore all vim swp files. I'm going to keep .un files though
**/*.swp
*.swp

#Ignore all .ipynb_checkpoints/
**/.ipynb_checkpoints/
.ipynb_checkpoints/
